@using SocialNetwork.Core.Application.ViewModels.Users
@model UserViewModel
@{
    ViewData["Title"] = "Contraseña reestablecida";
}

<div class="container-fluid">
    <div class="row m-5">
        <div class="col-6 offset-3">
            <h1 class="text-center">¡Tu contraseña ha sido reestablecida @Model.FirstName!</h1>
            <p class="text-center">Revisa la bandeja de entrada en tu correo: @Model.Email</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary text-center" asp-controller="User" asp-action="Index">Volver al login</a>
            </div>
        </div>
    </div>
</div>
