@using SocialNetwork.Core.Application.ViewModels.Users
@model ResetUserPasswordViewModel
@{
    ViewData["Title"] = "Reestablecer contraseña";
}

<div class="container-fluid">
    <div class="row m-5">
        <h2 class="text-center">Reestablecer contraseña</h2>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card shadow-sm">
                <div class="card-header text-black">
                    <h4 class="text-center">Introduce tu nombre de usuario</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="User" asp-action="ResetPassword">
                        @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                        <div class="mb-3">
                            <input asp-for="Username" class="form-control" placeholder="juanperez" />
                        </div>

                        <div class="d-flex flex-row justify-content-center">
                            <div class="mt-1 mb-1 w-50">
                                <button class="btn btn-primary w-100" type="submit">Reestablecer</button>
                            </div>
                            <div class="m-1"></div>
                            <div class="mt-1 mb-1 w-50">
                                <a class="btn btn-secondary w-100" asp-controller="User" asp-action="Index">Volver atrás</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>