@{
    ViewData["Title"] = "Usuario activado";
}

<div class="container-fluid">
    <div class="row m-5">
        <div class="col-6 offset-3">
            <h1 class="text-center">¡Felicidades!</h1>
            <p class="text-center">Tu usuario ha sido activado</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary text-center" asp-controller="User" asp-action="Index">Ir al login</a>
            </div>
        </div>
    </div>
</div>