@using Microsoft.AspNetCore.Http
@using SocialNetwork.Core.Application.Helpers
@using SocialNetwork.Core.Application.ViewModels.Users
@inject IHttpContextAccessor httpContextAccessor
@{
    UserViewModel userViewModel = httpContextAccessor.HttpContext.Session.Get<UserViewModel>("user");
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social Network</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="h-100">
    <header>
        @if (userViewModel != null)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark fw-bold fst-italic" asp-controller="Friend" asp-action="Index">Mis amigos</a>
                            </li>
                        </ul>
                        <div>
                            <a class="text-decoration-none text-dark" asp-controller="User" asp-action="LogOut">Cerrar sesion</a>
                        </div>
                    </div>
                </div>
            </nav>
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
